body {
  background: #fdfdfd;
  margin: 0;
  background: black;
  height: 100%;
}

#logoimg {
  display: flex;
  width: 60%;
}

#logo {
  display: flex;
}

#navbar {
  display: flex;
  background: black;
  width: 100%;
  height: 5rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 11px rgb(208, 0, 0);
}

#navig {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#homebody {
  color: #f9f9f9;
  font-family: "Plus Jakarta Sans", sans-serif;
}

#pass {
  width: 100%;
  height: 100%;
}

#logdiv {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#logform {
  display: flex;
  background: #f9f9f9;
  height: 60%;
  width: 50%;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#logimgdiv {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  /* background-color: rgb(255, 255, 255); */
}

#pdiv2 {
  background: #ff2626;
  border-radius: 1rem;
}

#symps {
  background: none;
  border: none;
  border-bottom: solid 1px white;
  margin-bottom: 1rem;
  text-align: left;
  color: white;
  font-size: 1.3rem;
  outline: none;
  /* font-weight: 600; */
}

#addsymp {
  background: none;
  margin-bottom: 2rem;
  text-align: left;
  color: white;
  outline: none;
  font-weight: 600;
}

#fp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ff2626;
}

#bp {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  background:#f9f9f9;
  height: fit-content;
  width: 50%;
  border-radius: 0.5rem;
}

#bphead {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#bpimg {
  width: 75%;
}

#bpcontent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  height: 100%;
}

#abhano {
  border: none;
  border-bottom: solid 1px black;
  background: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

#babut {
  border: none;
  background: #ff2626;
  padding: 0.4rem;
  width: fit-content;
  color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  border-radius: 0.3rem;
  font-weight: 600;
}

#babut:hover {
  border: solid 1px #ff2626;
  background:#f9f9f9;
  padding: 0.4rem;
  width: fit-content;
  color: #ff2626;
  font-family: 'Poppins', sans-serif;
  border-radius: 0.3rem;
  font-weight: 600;
}

#symphead {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
}

#symptext {
  background: none;
  border: solid 1px white;
  border-radius: 0.3rem;
  color: white;
  outline: none;
  padding: 1rem;
  resize: none;
}

#psearch {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
}

#moto {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#logimg {
  width: 75%;
}

#tdiv {
  display: flex;
  font-size: 1rem;
  border-radius: 0.4rem;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: rgb(255, 255, 255);
  font-size: 1.3rem;
  width: 80%;
  color: #ff2626;
}

#thead {
  display: flex;
  padding: 1rem;
}

#trow {
  display: flex;
  padding: 1rem 1rem;
}

#ptable {
  display: flex;
  flex-direction: column;
}

#pres {
  background: #ff2626;
  color: #f9f9f9;
  font-weight: 600;
}

#pres1 {
  background: #ff2626;
  color: #f9f9f9;
  font-size: 1rem;
  font-weight: 600;
}

#pi {
  color: #ff2626;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#pip {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-top: 0.2rem;
}

#pihead {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* padding: 0; */
}

#pres:hover {
  border-color: #ff2626;
  background-color: #f9f9f9;
  color: #ff2626;
}

#pres1:hover {
  border-color: #ff2626;
  background-color: #f9f9f9;
  color: #ff2626;
}

#pdiv {
  font-family: 'Poppins', sans-serif;
  background: #000000;
  /* font-weight: 600; */
}

#homecont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 3rem;
  justify-content: right;
  align-items: center;
}

#tour {
  margin-top: 5rem;
  font-size: 2rem;
  border: none;
  padding: 0.6rem;
  font-family: 'Poppins', sans-serif;
  background: #ff2626;
  color: #f9f9f9;
  font-weight: 600;
  border-radius: 0.3rem;
}

#tour:hover {
  margin-top: 5rem;
  font-size: 2rem;
  border: solid 1px #ff2626;
  padding: 0.6rem;
  font-family: 'Poppins', sans-serif;
  background: none;
  color: #ff2626;
  font-weight: 600;
  border-radius: 0.3rem;
}

#navlist {
  display: flex;
  color: white;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  font-family: 'Poppins', sans-serif;
}


#homehead {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 4rem;
  margin-top: 5rem;
  align-items: center;
  justify-content: left;
}

#homehead2 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgb(255, 0, 0);
  font-size: 9rem;
  align-items: center;
  justify-content: left;
}

#sno {
  display: flex;
  width: 5rem;
}

#table {
  border: solid 1px white;
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  height: 100vh;
  color: #f9f9f9;
}

#logform2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: left;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.5rem;
}

#menu {
  width: fit-content;
  background-color: #0048e3;
  padding: 5.4rem;
  height: 100%;
  margin-right: 2rem;
  border-radius: 2rem;
  color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#seperator {
  height: 2rem;
}

#reghead {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
  font-family: 'Poppins',sans-serif;
}

#loginput {
  height: 2rem;
  font-size: 1rem;
  border: none;
  font-weight: 200;
  background: #f9f9f9;
  border-bottom: solid 1px;
  outline: none;
}

#role {
  background: #f9f9f9;
  width: 3rem;
  margin-top: 1rem;
}

#rolediv {
  display: flex;
}

#labela {
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
  margin-left: 0.6rem;
}

#subbut {
  margin-top: 2rem;
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
  border-radius: 0.3rem;
  border: none;
  font-weight: 600;
  color: #f9f9f9;
  background-color: #ff2626;
  padding: 0.5rem;
}

#subbut:hover {
  background-color: #f9f9f9;
  border: solid 1px #ff2626;
  color: #ff2626;
}

#regdiv {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#rhead {
  display: flex;
  align-items: center;
}

#loglog {
  width: 75%;
}

#reglog {
  width: 20%;
}

#rehead {
  width: 80%;
  text-align: right;
  font-weight: 600;
}

#reginput {
  border: none;
  width: 90%;
  border-radius: 0;
  outline: none;
  border-bottom: solid 1px black;
}

#rform {
  border-radius: 0;
  width: 60%;
  background-color: white;
}

/* Search CSS */

.results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: scroll;
}

.symtoms-class{

  cursor: pointer;
}